* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

:root {
    --white-color: #F9F9F9;
    --gray-light: #E9EAEB;
    --gray-dark: #525B60;
    --black-prim: #283339;
    --top-nav-color: #303798;
    --sidenav-color: #3A42B7;
    --sidenav-hover: #303798;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
    --header-height: 40px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: var(--white-color);
    transition: all 0.5s ease;    
    border-right: 2px solid red;
    padding: 10px;  
}
.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    width: 100%;
    margin: 16px;   
}

.sidebar .nav-links {
    margin-top: 16px;      
}

.sidebar .nav-links li {
    height: 100%;
    width: 100%;
    list-style: none;   
}
.sidebar .nav-links li:hover {
    background: #303798;    
    border-radius: 10px;
}
.sidebar .nav-links li a {    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;   
}

.sidebar .nav-links li a .sidebar-icon {
    fill: var(--black-prim);
    min-width: 60px;               
}

.sidebar .nav-links li a .link-name {
    color: var(--black-prim);
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap; 
}

.sidebar .nav-links li a .link-name:hover{
    border-bottom: 2px solid var(--sidenav-color);      
}
.sidebarBtn {
    cursor: pointer;
}

/* hero section */
.sidebar.active ~ .hero-section {
    width: calc(100% - 60px);
    left: 60px;
}
.hero-section {
    background: var(--white-color);
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;    
}
.hero-section nav {
    height: 80px;
    background: var(--white-color);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-section nav .sidebar-button {
    display: flex;
    align-items: center;    
    font-weight: 500;    
}

.search-box {
    display: flex;
    align-items: center;
}

.nav-logout button {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
}
.nav-logout button .sidebar-icon {
    fill: var(--black-prim);
    margin-right: 5px;
}

.hero-section nav .sidebar-button .nav-link-active {
    font-size: 34px;
    margin-left: 15px;
}

.hero-section nav .search-box {
    height: 50px;
    width: 550px;
    margin: 0 20px;
    position: relative;
}

nav .search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--black-prim);
    outline: none;
    padding: 0 10px;
    font-size: 18px;
}

nav .search-box .search-icon {
    position: absolute;
    background: var(--sidenav-color);
    right: 5px;    
    border-radius: 6px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.avail-map {       
    width: 636px;
    height: 352px;
    left: 652px;
    top: 160px;
    border: none;
    border-radius: 10px;   
    background-color: var(--white-color);    
}

.avail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    margin-bottom: 50px;
    border: 1px solid var(--gray-dark);
    border-radius: 6px;
    background: #F9F9F9;
}

.date-inputs {
    display: flex;
    flex-direction: column;
    width: 458px;
    margin-bottom: 30px;
}

.date-inputs label {
    margin-bottom: 5px;
}

.date-inputs input {
    font-size: 16px;
    height: auto;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid var(--gray-dark);
}

.cruise-inputs {
    display: flex;
    width: 458px;
    justify-content: space-between;
    margin-bottom: 40px;
    height: auto;    
}

.cruise-type {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
}

.cabine-type {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cabine-type label {
    margin-bottom: 5px;
}

.cabine-type select {
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--gray-dark);    
}

.cruise-type label {
    margin-bottom: 5px;
}

.cruise-type select {
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--gray-dark);    
}

.avail-btn {
    width: 458px;
    cursor: pointer;
    background-color: #5058C8;
    height: 54px;
    border-radius: 4px;
    color: #E9EAEB;    
    font-size: 18px;
    border: none;    
}

/* check availability */

.check-avail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-bottom: 100px;
    border: 2px solid lightseagreen;
    border-radius: 6px;
    background: lightseagreen;
    width: 540px;
    margin: 50px;  
    display: none;    
}

.check-avail .check-title {
    margin-bottom: 10px;      
}

.check-avail .check-title h3 {
    color: var(--white-color);
    margin-top: 5px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-avail .display-avail {
    background-color: var(--white-color);
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 6px;
    padding: 25px;    
}

.display-avail .display-cabins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--gray-light);
    font-size: 22px;
    margin-bottom: 15px;
}

.display-avail .display-cruise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--gray-light);
    font-size: 22px;
    margin-bottom: 15px;
}

.display-avail .display-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--gray-light);
    font-size: 22px;
    margin-bottom: 15px;
}

.display-avail .add-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-btn {
    padding: 7px 15px;
    background: var(--sidenav-color);
    color: var(--white-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.avail-map .no-availability {
    border: 2px solid red;
    margin: 50px;
    padding: 20px;
    background: rgb(252, 169, 169);
    border-radius: 6px;
}

.avail-map .no-availability .display-no-avail {
    display: flex;
    justify-content: center;    
}

.avail-map .no-availability .display-no-avail h3 {
    font-size: 22px;
    color: red;
}

/* check availability ends */

/* Cruise Plan Starts */

.cruise-plan {
    position: absolute;  
    width: 100%;    
}

.cruise-plan-btn {       
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 2px solid red;
    margin: 20px;   
    position: absolute; 
}

.cruise-plan-btn button {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;    
    background-color: var(--sidenav-color);
    color: var(--white-color);
    border: none;
    border-radius: 6px;
}

.cruise-plan .cabin-plan {
    position: relative;
    width: auto;
    margin: 150px;
    padding: 25px;
    display: flex;
    border: 2px solid red;
}

.cabin-plan .cabin-types {
    width: 250px;
    border: 2px solid red;    
}

.cabin-plan .cabin-types .cabin-img img {
    width: 150px;
}

/*Prices Start*/

.cruise {
    margin: 50px;
    width: 250px; 
    display: flex;   
}

.cruise img {
    width: 250px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.cruise h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.cruise p {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}